.searchbar-container {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	width: 300px;
	box-shadow: 0px 0px 10px 0px #bbb;
	border-radius: 100px;
	padding: 5px;
}

.searchbar-input {
	border: none;
	background: none;
	height: 30px;
	color: rgb(129, 129, 129);
	font-size: 1em;
	width: 260px;
}

.searchbar-input:focus {
	outline: none;
	color: #000;
}

.searchbar-icon {
	height: 30px;
	cursor: pointer;
	justify-self: end;
}
