.searchbar-container {
	display: grid;
	grid-template-columns: 95% 5%;
	align-items: center;
	width: 100%;
	border-radius: 100px;
	padding: 5px;
	margin-top: 5px;
	background: #fff;
}

.searchbar-input {
	border: none;
	background: none;
	height: 30px;
	color: rgb(129, 129, 129);
	font-size: 1em;
	width: 100%;
	font-weight: 600;
}

.searchbar-input:focus {
	outline: none;
	color: #000;
}

.searchbar-icon {
	height: 30px;
	cursor: pointer;
	justify-self: end;
}
