.photo-container {
	cursor: pointer;
	margin-bottom: -2%;
}

.photograph {
	width: 100%;
	height: 200px;
}

@media all and (max-width: 800px) {
	.photograph {
		height: 175px;
	}
}

@media all and (max-width: 600px) {
	.photograph {
		height: 150px;
	}
}
