@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

body {
	margin: 0%;
}

.main {
	display: grid;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

.logo {
	cursor: pointer;
	display: grid;
	justify-content: center;
	align-content: center;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background: #fff;
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.searchbar {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
}

.searchbar-container {
	display: grid;
	grid-template-columns: 95% 5%;
	align-items: center;
	width: 100%;
	border-radius: 100px;
	padding: 5px;
	margin-top: 5px;
	background: #fff;
}

.searchbar-input {
	border: none;
	background: none;
	height: 30px;
	color: rgb(129, 129, 129);
	font-size: 1em;
	width: 100%;
	font-weight: 600;
}

.searchbar-input:focus {
	outline: none;
	color: #000;
}

.searchbar-icon {
	height: 30px;
	cursor: pointer;
	justify-self: end;
}

.photos {
	position: absolute;
	top: 0%;
	display: grid;
	grid-template-columns: repeat(4, auto);
	z-index: -1;
}

.photo {
	width: 100%;
}

.footer {
	width: fit-content;
	position: fixed;
	bottom: 0%;
	background: #fff;
	font-weight: 600;
	padding: 5px;
	left: 50%;
	transform: translateX(-50%);
}

@media all and (max-width: 800px) {
	.photos {
		grid-template-columns: repeat(3, auto);
	}
}

@media all and (max-width: 600px) {
	.photos {
		grid-template-columns: repeat(2, auto);
	}
}
